!.env.*
.env.keys
.DS_Store
node_modules
.vercel/output
.vercel/README.txt
.vercel/.env*
pnpm-debug.log*
node_modules
dist
dist-ssr
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
