.DS_Store

!.env.*
.env.keys

node_modules
pnpm-debug.log*

.vercel/output
.vercel/README.txt
.vercel/.env*
dist
dist-ssr

#Editor

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Go Modules

http/cmd/api-server/api-server
