.DS_Store

!.env.*
.env.keys
*.pem
kind-kubeconfig.yaml

node_modules
pnpm-debug.log*

.vercel/output
.vercel/README.txt
.vercel/.env*
dist
dist-ssr
generated
!generated/prisma/schema.prisma
!generated/dbml/schema.prisma

#Editor

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Go Modules

tmp
!bin/air
!bin/typegen
bin/**/*

# Terraform

**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.lock.hcl
